// Обнуление всех стилей
@import "nullstyle";
// Основные стили
@import "interface";
// Медиа запросы
@import "media";
// Шрифты
@import "fonts";
// Стили для шапки
@import "blocks/navbar";
// Стили для главного блока
@import "blocks/hero";
// Стили для блока с оффером
@import "blocks/offer";
// Стили для блока с портфолио
@import "blocks/portfolio";
// Стили для блока с ценами
@import "blocks/price";
// Стили для блока с шагами
@import "blocks/steps";
// Стили для блока с информацией
@import "blocks/info";
// Стили для блока с преимуществами
@import "blocks/advantages";
// Стили для блока с гарантиями
@import "blocks/warranty";
// Стили для блока с вопросами и формой
@import "blocks/questions";
// Стили для блока с контактами
@import "blocks/contact";
// Стили для модального окна
@import "blocks/modal";
// Стили для кнопки скролла в начало страницы
//@import "blocks/scrolltop";