.advantages {
   &-block {
      display: flex;
      justify-content: space-between;
   }
   &-wrap {
      max-width: 32%;
      background-color: #f7f7f7;
      &__text {
         font-size: 16px;
         padding: 25px 55px 0px 25px;
         line-height: 20px;
         margin-bottom: 50px;
         & .strong {
            font-weight: 700;
         }
      }
      &__image {
         max-width: 100%;
         height: 260px;
         border-top: 5px solid #ffd200;
         overflow: hidden;
         & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
         }
      }
   }
}

// стили для больших планшетов - начало
@media screen and (max-width: 991px) {
   .advantages {
      &-wrap {
         &__text {
            font-size: 15px;
            padding: 25px 25px 0px 25px;
         }
      }
   }
}
// стили для средних планшетов - начало
@media screen and (max-width: 767px) {
   .section {
      padding: 0px 0px 30px;
   }
   .advantages {
      &-block {
         flex-direction: column;
      }
      &-wrap {
         max-width: 100%;
         margin-bottom: 0px;
         &__text {
            font-size: 18px;
            padding: 25px 25px 0px 25px;
            margin-bottom: 25px;
         }
      }
   }
}