.hero {
   padding: 50px 0px;
   background-color: #f5f5f5;
   &-block {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }

   &-text {
      padding-right: 70px;

      &__title {
         font-family: 'Museo Sans Cyrl';
         max-width: 500px;
         font-size: 41px;
         font-weight: 700;
         line-height: 55px;
         margin-bottom: 40px;
      }
      &__subtitle {
         display: inline-block;
         font-family: 'Museo Sans Cyrl';
         font-size: 18px;
         font-weight: 400;
         margin-bottom: 70px;
      }
   }

   &-list {
      &__item {
         display: flex;
         align-items: center;
         margin-bottom: 25px;

         &:last-child {
            margin-bottom: 0;
         }
      }
      &__image {
         width: 40px;
         height: 40px;
         border: 2px solid #ffd200;
         border-radius: 50%;
         display: flex;
         align-items: center;
         justify-content: center;
         margin-right: 30px;
      }
      &__text {
         max-width: 300px;
      }
   }
}

@media screen and (max-width: 1120px) {
   .hero {
      &-text {
         &__title {
            font-size: 35px;
         }
      }
   }
}
// стили для больших планшетов - начало
@media screen and (max-width: 991px) {
   .hero {
      &-block {
         flex-direction: column;
      }
      &-text {
         padding-right: 0;
         &__title {
            font-size: 30px;
            line-height: 35px;
            max-width: 450px;
            margin-bottom: 30px;
         }
         &__subtitle {
            margin-bottom: 35px;
         }
      }

      &-list__item {
         margin-bottom: 15px;
         &:last-child {
            margin-bottom: 35px;
         }
      }
   }
}
// стили для средних планшетов - начало
@media screen and (max-width: 767px) {
   .hero {
      &-text {
         &__title {
            font-size: 30px;
            line-height: 35px;
            max-width: 350px;
         }
      }
   }
}
// стили для телефонов - начало
@media screen and (max-width: 479px) {
   .hero {
      padding: 25px 0px;
      &-text {
         &__title {
            max-width: 300px;
            font-size: 20px;
            line-height: 25px;
            margin-bottom: 15px;
         }
         &__subtitle {
            font-size: 13px;
            margin-bottom: 15px;
         }
      }

      &-list {
         &__item {
            margin-bottom: 8px;
            &:last-child {
               margin-bottom: 15px;
            }
         }

         &__image {
            width: 30px;
            height: 30px;
            margin-right: 10px;

            & img {
               max-width: 60%;
            }
         }

         &__text {
            font-size: 12px;
            max-width: 200px;
         }
      }
   }
}