.portfolio {
   background: #f5f5f5 url(/src/img/portfolio/bg-left.png) center repeat-y;
   background-size: 50%;

   &-title {
      text-align: center;
      line-height: 40px;
      margin-bottom: 90px;

      &__first, &__two {
         display: block;
      }
   }

   &-image {
      display: flex;
      justify-content: space-between;
      margin-bottom: 65px;
   }

   &-img {
      max-width: 31%;
      max-height: 280px;
      overflow: hidden;

      & img {
         object-fit: cover;
         width: 100%;
         height: 100%;
      }

      &:last-child {
         margin-right: 0;
      }
   }

   &-arrow {
      text-align: center;

      &__left {
         margin-right: 30px;
      }
      &__left, &__right {
         background-color: rgba(0, 0, 0, 0.0);
      }
      & img {
         max-width: 70%;
         
      }
   }
}

// стили для больших планшетов - начало
@media screen and (max-width: 991px) {
   .portfolio {   
      &-title {
         font-size: 28px;
         line-height: 32px;
         margin-bottom: 50px;
      }
      &-image {
         margin-bottom: 50px;
      }
      &-arrow {
         & img {
            max-width: 60%;
         }
      }
   }
}
// стили для средних планшетов - начало
@media screen and (max-width: 767px) {
   .portfolio {   
      &-title {
         font-size: 20px;
         line-height: 25px;
         margin-bottom: 30px;
      }
      &-image {
         justify-content: center;
         margin-bottom: 30px;
      }
      &-img {
         max-width: 80%;
         &:nth-child(n+2) {
            display: none;
         }
      }
   }
}