.steps {
   padding-top: 0px;
   &-block {
      text-align: center;
   }
   &-title {
      max-width: 670px;
      margin: 0 auto 60px;
   }
   &-subtitle {
      display: block;
      font-size: 20px;
      margin-bottom: 60px;
   }
   &-wrap {
      display: flex;
      justify-content: space-around;
      align-items: top;
      &__item {
         max-width: 175px;
      }
      &__image {
         display: flex;
         justify-content: center;
         align-items: center;
         width: 70px;
         height: 70px;
         border: 2px solid #ffd200;
         border-radius: 50%;
         margin: 20px auto 30px;
      }
      &__text {
         display: block;
         font-size: 14px;
         line-height: 20px;
      }
   }
}

// стили для больших планшетов - начало
@media screen and (max-width: 991px) {
   .steps {
      &-title {
         font-size: 26px;
         margin: 0 auto 50px;
         line-height: 30px;
      }
      &-subtitle {
         font-size: 16px;
         margin-bottom: 50px;
      }
      &-wrap {
         &__image {
            width: 60px;
            height: 60px;
            margin: 20px auto 25px;
         }
         &__text {
            font-size: 10px;
            line-height: 14px;
         }
      }
   }
}
// стили для средних планшетов - начало
@media screen and (max-width: 767px) {
   .steps {
      &-title {
         font-size: 22px;
         margin: 0 auto 30px;
      }
      &-subtitle {
         font-size: 16px;
         margin-bottom: 30px;
      }
      &-wrap {
         &__image {
            width: 50px;
            height: 50px;
            margin: 20px auto 25px;
            & img {
               width: 50%;
            }
         }
         &__text {
            font-size: 10px;
            line-height: 14px;
         }
      }
   }
}
// стили для телефонов - начало
@media screen and (max-width: 479px) {
   .steps {
      &-wrap {
         flex-direction: column;
         &__item {
            max-width: 100%;
         }
         &__image {
            margin: 30px auto 10px;
         }
         &__text {
            font-size: 14px;
            width: 70%;
            margin: auto;
         }
         &__arrow {
            display: none;
         }
      }
   }
}