.warranty {
   padding-top: 0;
   &-title {
      max-width: 650px;
      text-align: center;
      margin: 0px auto 90px;
   }
   &-wrap {
      display: flex;
      justify-content: space-between;
      text-align: center;
      &__block {
         width: 25%;
      }
      &__image {
         background-color: #f5f5f5;
         padding: 20px;
         margin-bottom: 35px;
         & img {
            width: 100%;
            height: 100%;
            object-fit: contain;
         }
      }
      &__text {
         font-size: 16px;
         line-height: 25px;
      }
   }
}

// стили для больших планшетов - начало
@media screen and (max-width: 991px) {
   .warranty {
      &-title {
         font-size: 27px;
         line-height: 30px;
         margin-bottom: 40px;
      }
      &-wrap {
         &__text {
         font-size: 14px;
         line-height: 20px;
         }
      }
   }
}
// стили для средних планшетов - начало
@media screen and (max-width: 767px) {
   .warranty {
      &-title {
         font-size: 20px;
      }
      &-wrap {
         flex-direction: column;
         &__block {
            width: 100%;
            margin-bottom: 35px;
            &:last-child {
               margin-bottom: 0px;
            }
         }
         &__image {
            padding: 20px;
            margin-bottom: 15px;
         }
         &__text {
            font-size: 20px;
            line-height: 25px;
         }
      }
   }
}
// стили для телефонов - начало
@media screen and (max-width: 479px) {
   .warranty {
      &-title {
         font-size: 16px;
         line-height: 20px;
      }
      &-wrap {
         flex-direction: column;
         &__block {
            width: 100%;
            margin-bottom: 35px;
            &:last-child {
               margin-bottom: 0px;
            }
         }
         &__image {
            padding: 20px;
            margin-bottom: 15px;
         }
         &__text {
            font-size: 14px;
            line-height: 18px;
         }
      }
   }
}