.contact {
   padding: 100px 0px 125px;
   position: relative;
   &::before {
      content: "";
      width: 50%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: url(/src/img/contact/map.jpg) -450px center/cover no-repeat;
   }
   &-block {
      display: flex;
      justify-content: space-between;
   }
   &-title {
      font-size: 22px;
      max-width: 300px;
      line-height: 27px;
      margin-bottom: 100px;
   }
   &-list {
      &__item {
         display: flex;
         margin-bottom: 40px;
         &:last-child {
            margin-bottom: 0px;
         }
      }
      &__image {
         height: 20px;
         margin-right: 30px;
      }
      &__text {
         max-width: 160px;
         line-height: 20px;
      }
      &__strong {
         font-weight: 700;
      }
   }
}

@media screen and (max-width: 1120px) {
   .contact {
      &::before {
         content: "";
         background: url(/src/img/contact/map.jpg) -550px center/cover no-repeat;
      }
   }
}
// стили для больших планшетов - начало
@media screen and (max-width: 991px) {
   .contact {
      &::before {
         content: "";
         background: url(/src/img/contact/map.jpg) -650px center/cover no-repeat;
      }
   }
}
// стили для средних планшетов - начало
@media screen and (max-width: 767px) {
   .contact {
      padding: 20px;
      position: relative;
      &::before {
         content: "";
         background: none;
      }
      &::after {
         content: "";
         width: 100%;
         height: 100%;
         position: absolute;
         top: 0;
         left: 0;
         background: url(/src/img/contact/map.jpg) center center/cover no-repeat;
         z-index: -1;
      }
      
      &-block {
         display: flex;
         justify-content: center;
      }
      &-title {
         font-size: 18px;
         line-height: 25px;
         margin-bottom: 50px;
      }
      &-list {
         &__item {
            display: flex;
            margin-bottom: 40px;
            &:last-child {
               margin-bottom: 0px;
            }
         }
         &__image {
            height: 20px;
            margin-right: 30px;
         }
         &__text {
            max-width: 160px;
            line-height: 20px;
         }
      }
   }
}