.info {
   padding: 100px 0px;
   background-color: #ffd200;
   text-align: center;
   font-size: 32px;
   line-height: 50px;
   &-text span {
      display: block;
   }
}

@media screen and (max-width: 1120px) {
   .info {
      padding: 80px 0px;
   }
}
// стили для больших планшетов - начало
@media screen and (max-width: 991px) {
   .info {
      padding: 50px 0px;
      font-size: 30px;
      line-height: 40px;
   }
}
// стили для средних планшетов - начало
@media screen and (max-width: 767px) {
   .info {
      padding: 50px 0px;
      font-size: 23px;
      line-height: 30px;
   }
}
// стили для телефонов - начало
@media screen and (max-width: 479px) {
   .section {
      padding: 0px;
   }
   .info {
      padding: 30px 0px;
      font-size: 20px;
      line-height: 28px;
   }
}