.modal {
   display: none;
   position: fixed;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(#000, 0.5);

   &_active {
      display: flex;
   }

   &-dialog {
      position: relative;
      margin: auto;
      max-width: 450px;
      width: 90%;
      min-height: 200px;
      background-color: #fff;
      padding: 40px;

      &__close {
         position: absolute;
         top: 10px;
         right: 10px;
         width: 25px;
         height: 25px;
         background-color: rgb(250, 219, 45);
      }

      &__title {
         text-align: center;
         font-size: 25px;
         font-weight: 700;
         margin-bottom: 30px;
      }
   }
}