.questions {
   padding: 0;
   background: url('/src/img/questions/1.jpg') center right/cover no-repeat;
   position: relative;
   &:before {
      content: '';
      width: 50%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: #ffd200;
   }
   &-block {
      display: flex;
      justify-content: space-between;
      position: relative;
   }
   &-text {
      background-color: #ffd200;
      padding: 100px 60px 100px 0px;
      width: 50%;
      &__title {
         font-size: 22px;
         line-height: 30px;
         margin-bottom: 50px;
      }
      &__subtitle {
         display: block;
         font-size: 16px;
         margin-bottom: 90px;
      }
   }
   
   &-list {
      &__item {
         display: flex;
         align-items: center;
         margin-bottom: 15px;
         font-size: 16px;
         &:last-child {
            margin-bottom: 0;
         }
      }
      &__number {
         display: flex;
         justify-content: center;
         align-items: center;
         margin-right: 25px;
         width: 30px;
         height: 30px;
         border: 2px solid;
         border-radius: 50%;
         & span {
            font-weight: 600;
         }
      }
      &__text {
         display: inline-block;
         max-width: 330px;
      }
   }
   &-offer {
      max-width: 50%;
      text-align: center;
      padding: 100px 0px;
      &__title {
         font-size: 22px;
         font-weight: 600;
         max-width: 350px;
         margin-bottom: 50px;
         line-height: 30px;
      }
      &__subtitle {
         display: block;
         font-size: 16px;
         margin-bottom: 50px;
      }
      &__input, &__button {
         display: block;
         width: 370px;
         height: 65px;
         margin-bottom: 30px;
      }
      &__input {
         border: 1px solid #dddddd;
         border-radius: 10px;
         font-size: 15px;
         padding-left: 25px;
         &:first-child {
            margin-bottom: 18px;
         }
      }
   }
}

@media screen and (max-width: 1120px) {
   .questions {
      &-block {
         justify-content: space-around;
      }
      &-text {
         width: 40%;
      }
      &-list {
         &__text {
            max-width: 250px;
         }
      }
   }
}

// стили для больших планшетов - начало
@media screen and (max-width: 991px) {
   .questions {
      background: none;
      &:before {
         content: '';
         width: 100%;
         height: 50%;
         position: absolute;
         top: 0;
         left: 0;
         background: none;
      }
      &-block {
         flex-direction: column;
      }
      &-text {
         width: 100%;
         padding: 30px 20px;
         background-color: #ffd200;
         &__title {
            font-size: 20px;
            line-height: 30px;
            max-width: 450px;
            margin-bottom: 50px;
         }
         &__subtitle {
            display: block;
            font-size: 16px;
         }
      }
      &-offer {
         max-width: 100%;
         padding: 30px 20px;
         background: url('/src/img/questions/1.jpg') center right/cover no-repeat;
         &__title {
            max-width: 350px;
            margin: 0 auto 50px;
         }
         &__form {
            margin: 0px auto;
         }
         &__input, &__button {
            display: inline-block;
         }
      }
   }
}
// стили для телефонов - начало
@media screen and (max-width: 479px) {
   .questions {
      &-text {
         padding: 30px 20px;
         &__title {
            font-size: 18px;
            line-height: 22px;
            margin-bottom: 30px;
         }
         &__subtitle {
            font-size: 14px;
            margin-bottom: 30px;
         }
      }
      &-list {
         &__item {
            margin-bottom: 12px;
            font-size: 14px;
         }
         &__number {
            margin-right: 20px;
            width: 25px;
            height: 25px
         }
         &__text {
            max-width: 230px;
         }
      }
      &-offer {
         &__input, &__button {
            width: 280px;
            height: 65px;
         }
      }
   }
}