body {
   font-family: "Museo Sans Cyrl", Arial, "Helvetica Neue", Helvetica, sans-serif;
   color: #333333;
   overflow-x: hidden;
   & a {
      color: #333333;
   }
}

.container {
   max-width: 1170px;
   margin: 0px auto;
   padding: 0px;
}

img {
   max-width: 100%;
}

.section {
   padding: 90px 0px;
   &-title {
      font-size: 30px;
      font-weight: 700;
      line-height: 40px;
   }
}

.button {
   border-radius: 10px;
   padding: 18px 30px;
   font-weight: 700;
   background-color: #ffd200;
}